:root{

    --main-color:#11101d;
    --primary-color:#42a5f5;
    --primary-main-color:#1976d2;
    --error-color: #ef5350;
    --warning-color: #ff9800;
    --info-color: #03a9f4;
    --success-color: #4caf50;
    --grey-color: #F2F4F4  ;


    --border-radius:5px;
    // -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.66); 

    --box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.26);
}